build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    docker build -f src/adservice/Dockerfile -t adservice:$GIT_COMMIT_ID src/adservice 
    docker tag adservice:$GIT_COMMIT_ID  adservice:$ROOST_NAMESPACE  
    docker build -f src/cartservice/src/Dockerfile -t src:$GIT_COMMIT_ID src/cartservice/src 
    docker tag src:$GIT_COMMIT_ID  src:$ROOST_NAMESPACE  
    docker build -f src/checkoutservice/Dockerfile -t checkoutservice:$GIT_COMMIT_ID src/checkoutservice 
    docker tag checkoutservice:$GIT_COMMIT_ID  checkoutservice:$ROOST_NAMESPACE  
    docker build -f src/frontend/Dockerfile -t frontend:$GIT_COMMIT_ID src/frontend 
    docker tag frontend:$GIT_COMMIT_ID  frontend:$ROOST_NAMESPACE  
    docker build -f src/productcatalogservice/Dockerfile -t productcatalogservice:$GIT_COMMIT_ID src/productcatalogservice 
    docker tag productcatalogservice:$GIT_COMMIT_ID  productcatalogservice:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-11-03T12:03:55.082Z
