app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###




    kubectl apply -n $ROOST_NAMESPACE -f release/kubernetes-manifests.yaml
app_test:
  - name: frontend
    configType: custom
    customType: commands
    url: ''
    requestType: GET
    header: ''
    body: ''
    status: ''
    response: ''
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-26T07:43:55.691Z
